// Card component

@mixin make-circle($size) {
	position: relative;
	width: $size;
	height: $size;
	border-radius: 100%;
}

$card-border-radius: 0.5rem;
$icon-block-size: 32px; // be consistent with material sizing

.intro-card {
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
	padding: 1rem;
	background: #fff;
	border-radius: $card-border-radius;
	border-bottom-left-radius: $card-border-radius + 0.05;
	border-bottom-right-radius: $card-border-radius + 0.05;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 12px 4px;

	.card-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.card-avatar-wrapper {
		@include make-circle(150px);
		margin-top: -75px;
		box-shadow: inset rgba(0, 0, 0, 0.2) 0px 0px 0px 2px;
		z-index: 10;
	}

	.card-avatar {
		@include make-circle(150px);
		z-index: 5;
	}

	.card-title {
		margin-top: 0.5em;
		font-size: 2rem;
		font-weight: 300;
	}

	.lead {
		font-size: 1.15rem;
		font-weight: 500;
	}

	.card-body {
		position: relative;
		padding: 1.5rem 2rem;
		margin: 0 -1rem -1rem;
		border-bottom-left-radius: $card-border-radius;
		border-bottom-right-radius: $card-border-radius;
		background: $blue;
		color: $off-white;

		&:before {
			@include gradient-y(rgba(0,0,0,0.1), rgba(0,0,0,0));
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1rem;
			z-index: 5;
		}
	}

	.specialties {
		position: relative;
		padding: 0;
		margin-bottom: 0;
		list-style: none;
		z-index: 10;
	}

	.specialty {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 1rem;
		font-size: 1.15rem;
		font-weight: 300;
	}

	.specialty-icon {
		width: $icon-block-size;
		height: $icon-block-size;
		margin-right: 1rem;
		border-radius: $icon-block-size;
		text-align: center;
		line-height: $icon-block-size;
		color: $blue;
		background: $off-white;
	}
}