// project-demo styles

.project-demo {
	margin: 0 0 2.5rem;
}

.demo-wrapper {
	$device-background: #e0e0e0;
	$device-highlight: #f0f0f0;
	$device-shadow: #d0d0d0;
	$device-dark-shadow: #b0b0b0;
	$device-features: #fff;

	$phone-top-padding: 4.5rem;
	$phone-bottom-padding: 6rem;
	$phone-speaker-width: 4rem;
	$phone-speaker-height: 0.5rem;
	$phone-button-size: 4rem;

	position: relative;
	width: 100%;

	.demo-inner {
		position: relative;
		width: 100%;

		img, video {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
		}
	}

	&.phone-portrait {
		padding: $phone-top-padding 1.5rem $phone-bottom-padding;
		border-radius: 2.5rem;
		border: 0.25rem solid;
		border-bottom-color: $device-shadow;
		border-right-color: $device-shadow;
		border-top-color: $device-highlight;
		border-left-color: $device-highlight;
		background: $device-background;

		&:before {
			content: "";
			position: absolute;
			top: ($phone-top-padding / 2) - ($phone-speaker-height / 2);
			left: 50%;
			width: $phone-speaker-width;
			height: $phone-speaker-height;
			margin-left: -$phone-speaker-width / 2;
			border-radius: $phone-speaker-width / 2;
			background: $device-features;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: ($phone-bottom-padding / 2) - ($phone-button-size / 2);
			left: 50%;
			width: $phone-button-size;
			height: $phone-button-size;
			margin-left: -$phone-button-size / 2;
			border-radius: $phone-button-size / 2;
			background: $device-features;
		}

		.demo-inner {
			padding-bottom: 100% * (16 / 9);
		}
	}

	// @todo: maybe make this centered above the rest of the titles instead of inline?
	&.computer {
		&:after {
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			height: 1.25rem;
			width:100%;
			border: 0.125rem solid;
			border-top-color: $device-highlight;
			border-left-color: $device-highlight;
			border-right-color: $device-shadow;
			border-bottom: 0.25rem solid $device-shadow;
			border-bottom-left-radius: 0.375rem;
			border-bottom-right-radius: 0.375rem;
			background: $device-background;
		}

		.demo-screen-wrapper {
			position: relative;
			margin: 0 auto;
			width: 80%;
			padding: 0.75rem 0.75rem 0.5rem;
			border-top-left-radius: 1rem;
			border-top-right-radius: 1rem;
			border-right: 0.125rem solid $device-shadow;
			border-top: 0.125rem solid $device-highlight;
			border-left: 0.125rem solid $device-highlight;
			background: $device-background;

			&:before {
				content: "";
				position: absolute;
				top: 0.25rem;
				left: 50%;
				height: 0.25rem;
				width: 0.25rem;
				margin-left: -0.125rem;
				border-radius: 0.25rem;
				background: $device-dark-shadow;
				z-index: 5;
			}

			&:after {
				content: "";
				position: absolute;
				top: 100%;
				left: 50%;
				height: 0.325rem;
				width: 1.75rem;
				margin-left: -0.875rem;
				border-bottom-left-radius: 0.25rem;
				border-bottom-right-radius: 0.25rem;
				background: $device-dark-shadow;
				z-index: 5;
			}
		}

		.demo-inner {
			padding-bottom: 100% * (10 / 16);
			border-radius: 0.125rem;
			overflow: hidden;
		}
	}
}