<section class="content-section" id="contact">
	<header class="section-header">
		<h2>Get in touch</h2>
	</header>
	<div class="contact-email">
		via <a href="mailto:<%- contact.email %>" class="email-link"><span class="symbol">@</span><span class="label">email</span></a>
	</div>
	<div class="contact-social">
		or around the web
		<ul>
		<% contact.social.forEach(function(network) { %>
			<li><%= network.site %>: <a href="<%- network.url %>"><%= network.name %></a></li>
		<% }); %>
		</ul>
	</div>
</section>