<% /* @todo: card parallax */ %>
<section id="intro" class="content-section">
  <div class="intro-card">
    <div class="card-header">
      <div class="card-avatar-wrapper">
        <img src="assets/avatar.png" class="card-avatar" />
      </div>
      <h1 class="card-title">Matt Bengston</h1>
      <p class="lead">Software Developer specializing in</p>
    </div>
    <div class="card-body">
      <ul class="specialties">
        <% specialties.forEach(function(specialty) { %>
          <li class="specialty">
            <i class="specialty-icon material-icons"><%- specialty.icon %></i>
            <%= specialty.label %>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
</section>