<section id="intro">
  <h1>Matt Bengston</h1>
  <p class="lead">Software Developer specializing in</p>
  <ul class="specialties">
    <li>Full stack development</li>
    <li>Tooling & environment development</li>
    <li>Augmented reality & WebXR</li>
    <li>Rapid prototyping</li>
  </ul>
</section>