<section id="intro" class="content-section">
  <div class="intro-card">
    <div class="card-header">
      <div class="card-avatar-wrapper">
        <img src="assets/avatar.png" class="card-avatar" />
      </div>
      <h1 class="card-title">Matt Bengston</h1>
    </div>
    <div class="card-body">
      <p class="lead">Software Developer specializing in</p>
      <ul class="specialties">
        <li>Full stack development</li>
        <li>Tooling & environment development</li>
        <li>Augmented reality & WebXR</li>
        <li>Rapid prototyping</li>
      </ul>
    </div>
  </div>
</section>