<section class="content-section" id="talks">
	<header class="section-header">
		<h2>Talks</h2>
	</header>
	<ul class="talks-list">
		<% talks.forEach(function(talk) { %>
			<li class="talk-item">
				<div class="talk-event"><%= talk.event %></div>
				<div class="talk-topic"><%= talk.topic %></div>
				<div class="talk-location"><%= talk.location %></div>
				<% if (talk.url) { %>
					<a href="<%- talk.url %>" class="talk-link"><i class="material-icons">link</i></a>
				<% } %>
			</li>
		<% }); %>
	</ul>
</section>