// Main SCSS File

@import "../third_party/bootstrap/scss/bootstrap-reboot";
@import "../third_party/bootstrap/scss/bootstrap-grid";
@import "../third_party/bootstrap/scss/mixins";
@import "../third_party/bootstrap/scss/type";

$blue: #1976D2;
$off-white: #f8f8f8;
$container-width: 54rem; // 864

%unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Components
@import "./components/card";
@import "./components/project-filters";
@import "./components/project-preview";
@import "./components/project-page";
@import "./components/project-demo";
@import "./components/talks";
@import "./components/contact";

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

h2 {
  font-weight: 300;
}

.content-section {
  @extend .container-fluid;
  position: relative;
  padding: 4rem 1rem;
  transition: all 325ms;

  .section-header {
    margin: 0 auto;
    text-align: center;
  }
}

#intro {
	padding: 7rem 1rem;
	background: url("../assets/intro_background@0\,75x.png");
	background-size: cover;
}

#projects {
  background: #f8f8f8;
}

#talks {
  background: $blue;
  color: $white;
}